Pandas provides numerous methods for data analysis.
The objective in this section is to get familiar with the data and summarize
its main characteristics. Also, you can define your own methods for specific
statistical analyses.

**Statistical Analysis**

• df.describe(): Summary statistics for numerical
columns

• df.mean(): Returns the mean of all columns

• df.corr(): Returns the correlation between columns
in a data frame

• df.count(): Returns the number of non-null values in
each data frame column

• df.max(): Returns the highest value in each column

• df.min(): Returns the lowest value in each column

• df.median(): Returns the median of each column

• df.std(): Returns the standard deviation of each
column

In [ ]:
import pandas as pd
import numpy as np
Number = [1,2,3,4,5,6,7,8,9,10]
Names = ['Ali Ahmed','Mohamed Ziad','Majid Salim','Salwa Ahmed', 'Ahlam Mohamed', 'Omar Ali', 'Amna Mohammed','KhalidYousif', 'Safa Humaid', 'Amjad Tayel']
City = ['Fujairah','Dubai','Sharjah','AbuDhabi','Fujairah','Dubai', 'Sharja ', 'AbuDhabi','Sharjah','Fujairah']
columns = ['Number', 'Name', 'City' ]
dataset= pd.DataFrame({'Number': Number , 'Name': Names,
'City': City}, columns = columns )
Gender= pd.DataFrame({'Gender':['Male','Male','Male','Female',
'Female', 'Male', 'Female', 'Male','Female', 'Male']})
Height = pd.DataFrame(np.random.randint(120,175, size=(12, 1)))
Weight = pd.DataFrame(np.random.randint(50,110, size=(12, 1)))
dataset['Gender']= Gender
dataset['Height']= Height
dataset['Weight']= Weight
dataset.set_index('Number')

                 Name      City  Gender  Height  Weight
Number
1           Ali Ahmed  Fujairah    Male     144      93
2        Mohamed Ziad     Dubai    Male     142      80
3         Majid Salim   Sharjah    Male     144     102
4         Salwa Ahmed  AbuDhabi  Female     156      85
5       Ahlam Mohamed  Fujairah  Female     167      68
6            Omar Ali     Dubai    Male     168      56
7       Amna Mohammed   Sharja   Female     156      97
8        KhalidYousif  AbuDhabi    Male     157      92
9         Safa Humaid   Sharjah  Female     157      75
10        Amjad Tayel  Fujairah    Male     146     109

 df.describe(): Summary statistics for numerical
columns

In [ ]:
print ( dataset.describe())

         Number      Height      Weight
count  10.00000   10.000000   10.000000
mean    5.50000  153.700000   85.700000
std     3.02765    9.416888   16.234736
min     1.00000  142.000000   56.000000
25%     3.25000  144.500000   76.250000
50%     5.50000  156.000000   88.500000
75%     7.75000  157.000000   96.000000
max    10.00000  168.000000  109.000000

df.mean(): Returns the mean of all columns

In [ ]:
import pandas as pd
import numpy as np
Number = [1,2,3,4,5,6,7,8,9,10]
Names = ['Ali Ahmed','Mohamed Ziad','Majid Salim','Salwa Ahmed', 'Ahlam Mohamed', 'Omar Ali', 'Amna Mohammed','KhalidYousif', 'Safa Humaid', 'Amjad Tayel']
City = ['Fujairah','Dubai','Sharjah','AbuDhabi','Fujairah','Dubai', 'Sharja ', 'AbuDhabi','Sharjah','Fujairah']
columns = ['Number', 'Name', 'City' ]
dataset= pd.DataFrame({'Number': Number , 'Name': Names,
'City': City}, columns = columns )
Gender= pd.DataFrame({'Gender':['Male','Male','Male','Female',
'Female', 'Male', 'Female', 'Male','Female', 'Male']})
Height = pd.DataFrame(np.random.randint(120,175, size=(12, 1)))
Weight = pd.DataFrame(np.random.randint(50,110, size=(12, 1)))
dataset['Gender']= Gender
dataset['Height']= Height
dataset['Weight']= Weight
dataset.set_index('Number')
print (dataset.mean())

Number      5.5
Height    141.1
Weight     73.3
dtype: float64

<ipython-input-3-1ad7d1847a45>:17: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print (dataset.mean())

df.corr(): Returns the correlation between columns in a data frame

In [ ]:
print (dataset.corr())

          Number    Height    Weight
Number  1.000000  0.017987  0.106749
Height  0.017987  1.000000  0.024861
Weight  0.106749  0.024861  1.000000

<ipython-input-4-a817316b999d>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print (dataset.corr())

 df.count(): Returns the number of non-null values in each data frame column

In [ ]:
print(dataset.count())

Number    10
Name      10
City      10
Gender    10
Height    10
Weight    10
dtype: int64

**MIN AND MAX**

• df.max(): Returns the highest value in each column

• df.min(): Returns the lowest value in each column

In [ ]:
print(dataset.max())
print(dataset.min())

Number             10
Name      Salwa Ahmed
City          Sharjah
Gender           Male
Height            166
Weight             95
dtype: object
Number                1
Name      Ahlam Mohamed
City           AbuDhabi
Gender           Female
Height              122
Weight               50
dtype: object

 df.median(): Returns the median of each column

In [ ]:
print (dataset.median())

Number      5.5
Height    149.5
Weight     74.0
dtype: float64

<ipython-input-3-cce7d819d3d7>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print (dataset.median())

df.std(): Returns the standard deviation of each column

In [ ]:
print(dataset.std())

Number     3.027650
Height    15.693240
Weight    16.487032
dtype: float64

<ipython-input-4-eebaf71b4358>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(dataset.std())